<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>World Pizza</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../lib/fontawesome/css/all.min.css">
    <link rel="shortcut icon" href="../img/logo.png">
</head>
<body>

    <!-- BOTON DE IR ARRIBA -->
    <div id="btn-top">
        <span class="fas fa-angle-up"></span>
   </div>

   
    <!--MENU PRINCIPAL-->
    <div class="menu-principal">
        <div class="logo" id="logo">
            <img src="../img/logo.png" alt="">
        </div>
        <div class="menu-bar" id="menuBar">
            <i class="fas fa-angle-right" id="btnMenuClose"></i>
            <nav class="enlaces" id="enlaces">
                <ul>
                    <li><a href="#servicios">Servicios</a></li>
                    <li><a href="#equipo">Equipo</a></li>
                    <li><a href="#contacto">Contacto</a></li>
                </ul>
            </nav>
            <div class="sociales">
                <a href="#"><span class="fab fa-facebook"></span></a>
                <a href="#"><span class="fab fa-instagram"></span></a>
                <a href="#"><span class="fab fa-twitter"></span></a>
                <a href="#"><span class="fab fa-youtube"></span></a>
                
            </div>
        
        </div>

        <i class="fas fa-bars" id="btnMenuOpen"></i>
       
    </div>

    <!--PRODUCTOS SLIDER-->
    <section id="menu-productos">
        <div class="contenedor-principal">
            <button id="btn-left"><span class="fas fa-angle-left"></span></button>

            <div class="slider">
                <div class="container-products">
                    <div class="description-products">
                        <h2>Producto  <b>premium</b></h2>
                        <h1>Peperonni</h1>
                        <p>La auténtica pizza Pepperoni con tomate, queso, pepperoni y orégano sobre una fina masa y hornada en el horno de leña.</p>

                        <button class="btn">Solicitala Aquí! <span class="fas fa-angle-right"></span></button>   
                    </div>
                    
                    <div class="images-products">
                        <img src="../img/menu/peperoni.png" alt="">
                    </div>
                </div>

                <div class="container-products">
                    <div class="description-products">
                        <h2>Producto <b>premium</b></h2>
                        <h1>Especial</h1>
                        <p>Una de las peculiaridades de esta pizza, también conocida como romana, es su masa: suave, esponjosa y algo más gruesa que la ortodoxa italiana, con los bordes más altos</p> 
                        <button class="btn">Solicitala Aquí! <span class="fas fa-angle-right"></span></button>   
                    </div>
                    <div class="images-products">
                        <img src="../img/menu/especial.png" alt="">
                    </div>
                </div>

                <div class="container-products">
                    <div class="description-products">
                        <h2>Producto <b>básico</b></h2>
                        <h1>Margarita</h1>
                        <p>El clásico de las pizzas: Tomate, queso y orégano. Elaborada al horno de leña en su punto justo y con ingredientes frescos de calidad. También con queso sin lactosa por 2$ más.</p> 
                        <button class="btn">Solicítala Aquí! <span class="fas fa-angle-right"></span></button>   
                    </div>
                    <div class="images-products">
                        <img src="../img/menu/margarita.png" alt="">
                    </div>
                </div>

                <div class="container-products">
                    <div class="description-products">
                        <h2>Producto <b>premium</b></h2>
                        <h1>Americana</h1>
                        <p>Generosa pizza estilo americano cuyo ingrediente principal es nuestro
                            pan preparado de manera artesanal, salsa de tomate, queso mozzarella, rodajas de jamón y pepperoni. </p> 
                        <button class="btn">Solicitala Aquí! <span class="fas fa-angle-right"></span></button>   
                    </div>
                    <div class="images-products">
                        <img src="../img/menu/americana.png" alt="">
                    </div>
                </div>

                <div class="container-products">
                    <div class="description-products">
                        <h2>Producto <b>especial</b></h2>
                        <h1>Suprema</h1>
                        <p>Salsa de Tomate, Queso 100% Mozzarella, Ternera, Pepperoni, Cebolla Roja, Champiñones, Pimiento y Orégano</p> 
                        <button class="btn">Solicitala Aquí! <span class="fas fa-angle-right"></span></button>   
                    </div>
                    <div class="images-products">
                        <img src="../img/menu/suprema.png" alt="">
                    </div>
                </div>
            </div>


            <button id="btn-right"><span class="fas fa-angle-right"></span></button>
        </div>
    </section>

    <!--SECTION SERVICES-->
    <section id="servicios">
        <div class="servicios-titles">
            <h2 class="subtitles">La mejor Pizza del Mundo</h2>
            <h1 class="titles">Bienvenidos a World Pizza</h1>
        </div>

        <div class="container-servicios">
          <div class="imagen-central">
            <img src="../img/mitad-mitad.png" alt="">
          </div>

          <div class="items calidad">
            <p><span class="fas fa-pizza-slice"></span></p>
            <p class="titulo-item">Calidad</p>
            <p class="texto-item">Con un cuidadoso proceso de masa y horneado junto con ingredientes premium ofrecemos a tu paladar una explosión de sabor </p>
          </div>

          <div class="items ingredientes">
            <p><span class="fas fa-cheese"></span></p>
            <p class="titulo-item">Ingredientes</p>
            <p class="texto-item">Ingredientes frescos de todas las regiones de Ecuador para un exquisito resultado.</p>
          </div>

          <div class="items rapidez">
            <p><span class="fas fa-clock"></span></p>
            <p class="titulo-item">Rapidez</p>
            <p class="texto-item">En nuestros locales te puedes servir de manera inmediata, todo de nuestro menú </p>
          </div>

          <div class="items delivery">
            <p><span class="fas fa-shipping-fast"></span></p>
            <p class="titulo-item">Delivery</p>
            <p class="texto-item">Con nuestros puntos estratégicos tu entrega en tan solo 10 min esta garantizada   .</p>
          </div>
          
        </div>
    </section>

    <!--SECTION PERSONAL-->
    <section id="equipo">
        <div class="persona">
            <img src="../img/perfil1.png" alt="" class="persona-imagen">
            <div class="persona-info">
                <h2 class="title-white">David Muñoz</h2>
                <div class="fondo-p">
                <p>Chef Pizzero</p>
                </div>
                <div class="social-media">
                    <a href=""><span class="fab fa-facebook"></span></a>
                    <a href=""><span class="fab fa-instagram"></span></a>
                    <a href=""><span class="fab fa-twitter"></span></a>
                    <a href=""><span class="fab fa-linkedin-in"></span></a>
                </div>
            </div>
        </div>

        <div class="persona">
            <img src="../img/perfil2.png" alt="" class="persona-imagen">
            <div class="persona-info">
                <h2 class="title-white">Eliza Smith</h2>
                <div class="fondo-p">
                <p>Chef Pizzero</p>
                </div>
                <div class="social-media">
                    <a href=""><span class="fab fa-facebook"></span></a>
                    <a href=""><span class="fab fa-instagram"></span></a>
                    <a href=""><span class="fab fa-twitter"></span></a>
                    <a href=""><span class="fab fa-linkedin-in"></span></a>
                </div>
            </div>
        </div>

        <div class="persona">
            <img src="../img/perfil3.png" alt="" class="persona-imagen"> 
            <div class="persona-info">
                <h2>Jesús Alonso</h2>
                <div class="fondo-p">
                <p>Asistente Chef</p>
                </div>
                <div class="social-media">
                    <a href=""><span class="fab fa-facebook"></span></a>
                    <a href=""><span class="fab fa-instagram"></span></a>
                    <a href=""><span class="fab fa-twitter"></span></a>
                    <a href=""><span class="fab fa-linkedin-in"></span></a>
                </div>
            </div>
        </div>

        <div class="persona">
            <img src="../img/perfil4.png" alt="" class="persona-imagen">
            <div class="persona-info">
                <h2>Mariza Sánchez</h2>
                <div class="fondo-p">
                <p>Chef Pizzero</p>
                </div>
                <div class="social-media">
                    <a href=""><span class="fab fa-facebook"></span></a>
                    <a href=""><span class="fab fa-instagram"></span></a>
                    <a href=""><span class="fab fa-twitter"></span></a>
                    <a href=""><span class="fab fa-linkedin-in"></span></a>
                </div>
            </div>
        </div>
    </section>

    <!--SECTION INGREDIENTS-->
    <section id="ingredients">

        <div class="ingre">
            <img src="../img/ingredientes1.jpg" alt="" class="image-ingre">
            <div class="info-ingre">
                <p><span class="fas fa-cheese"></span></p>
                <p class="text-ingre">Quesos</p>
            </div>
            

        </div>

        <div class="ingre">
            <img src="../img/ingredientes2.jpg" alt="" class="image-ingre">
            <div class="info-ingre">
                <p><span class="fas fa-leaf"></span></p>
                <p class="text-ingre">Vegetales</p>
            </div>
            

        </div>

        <div class="ingre">
            <img src="../img/ingredientes3.jpg" alt="" class="image-ingre">
            <div class="info-ingre">
                <p><span class="fas fa-fill-drip"></span></p>
                <p class="text-ingre">Salsa</p>
            </div>
            

        </div>

        <div class="ingre">
            <img src="../img/ingredientes4.jpg" alt="" class="image-ingre">
            <div class="info-ingre">
                <p><span class="fas fa-drumstick-bite"></span></p>
                <p class="text-ingre">Carne</p>
            </div>
           

        </div>

    </section>

    <!--SECTION FORMULARIO-->
    <section id="contacto">
        <div class="contacto">
            <h2 class="subtitles">Queremos conocer tu opinión</h2>
            <h1 class="titles">Contáctenos</h1>
        </div>
        <form action="" id="formulario">
            <div class="two-fields">
                <div class="inputConIcon">
                    <input type="text" id="nombre" name="nombre" class="input-text" placeholder="Nombre">
                    <i class="fas fa-user"></i>
                </div>
                <div class="inputConIcon">
                    <input type="email" id="email" name="email" class="input-email" placeholder="Email">
                    <i class="fas fa-envelope"></i>
                </div>
            </div>
            <!--Campos-de-formulario-->
            <!--Campos-de-contacto con input-->

            <div class="fields">
                <div class="inputConIcon textareaIcon">
                    <textarea name="comentarios" id="comentarios" class="text-area" placeholder="Ingrese su mensaje"></textarea>
                    <i class="fas fa-comments"></i>
                </div>
            </div>

            <div class="fields-btn">
                <input type="submit" class="btn bt-input" value="Enviar">
            </div>

        </form>
    </section>

    <!--Alertas-->
    <div class="alertas">
        <div id="alertError" class="alert hide">
            <span class="icono-alert fas fa-exclamation-circle"></span>
            <span class="msg">Error:campos de entrada vacíos.</span>
       </div>

       <div id="alertSuccess" class="alert hide">
            <span class="icono-alert fas fa-check-circle"></span>
            <span class="msg">¡Datos enviados! Gracias por contactarnos.</span>
       </div>

        
    </div>

    <!--FOOTER-->
    <footer>
        <div class="sociales-metodo">
             <i class="fas fa-map-marker-alt"></i>
             <span>World Pizza, y Ecuador, Azuay &, Loja</span>
        </div>

        <div class="sociales-metodo">
             <i class="fas fa-envelope"></i>
             <span>info@worldpizza.com</span>
        </div>

        <div class="sociales-metodo">
             <i class="fas fa-phone"></i>
             <span>+593 98 404 1475</span>
        </div>

        <div class="sociales-metodo">
             <i class="fab fa-twitter"></i>
             <span>@worldpizza</span>
        </div>
   </footer>

    

  <script src="../js/app.js"></script>  
</body>
</html>